/build
/node_modules
package-lock.json
/build
.eslintcache

.idea/
.vscode/
node_modules/
build/
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
yuupee-app-auth-firebase-adminsdk-bfj85-314cb8ecb8.json